# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment folders
venv/
env/

# Django specific files
db.sqlite3
media/
staticfiles/

# Logs
*.log

# IDE / Editor settings
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db
